#main {
  background-image: url("2.webp");
  box-shadow: black 0px 0px 5px 1px;
  background-size: 100% 100%;
  width: 35%;
  margin: 136px;
  height: 400px;
  float: left;
  overflow: scroll;
  padding: 50px;
  color: white;
  text-align: left;
}
